<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />

<div class="notify"><%= styled_flash %></div>

<h1>PICAM Control</h1>

Welcome to PICAM control here is where you can remotely control the recording of the camera.

<br />
<br />
<div>
  Running: <b><%= @running %></b>
</div>

<br />
<div>
  <form method="get" action="/restart_nginx">
    <button>Restart Nginx</button>
  </form>
</div>

<br />
<div>
  <form method="get">
    <table>
      <tr>
        <td>Width:</td>
        <td><input type="text" name="width" value="1280"></td>
      </tr>

      <tr>
        <td>Height:</td>
        <td><input type="text" name="height" value="720"></td>
      </tr>

      <tr>
        <td>Fps:</td>
        <td><input type="text" name="fps" value="25"></td>
      </tr>
    </table>
    
    <button type="submit" formaction="/start_picam_live">Start PICAM LIVE</button>
    <button type="submit" formaction="/start_picam">Start PICAM</button>
    <button type="submit" formaction="/stop_picam">Stop PICAM</button>
  </form>
</div>

<br />
<div>
  <form method="get" action="/<%= @action %>">
    <button><%= @action %> Recording</button>
  </form>
</div>
